@page "/Registration"

<h3>Registration</h3>
<div class="container-lg">
    <EditForm Model="@AccountData" OnValidSubmit="@CreateAccount">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="my-2">
            <label for="name">Ваше имя</label>
            <InputText id="name" @bind-Value="@AccountData.Name" class="form-control"></InputText>
        </div>
        <div class="my-2">
            <label for="username">Логин</label>
            <InputText id="username" @bind-Value="@AccountData.Login" class="form-control"></InputText>
        </div>
        <div class="my-2">
            <label for="password">Пароль</label>
            <InputText type="password" id="password" @bind-Value="@AccountData.Password" class="form-control"></InputText>
        </div>
        <div class="my-2">
            <label for="loadImages">Загрузить фото:</label>
            <InputFile multiple="false" class="form-control" accept="image/jpeg,image/png" id="loadImages" OnChange="ImageChanged">

            </InputFile>
        </div>
        <p class="my-4">
            <button class="btn btn-primary" type="submit">register</button>
        </p>
    </EditForm>
</div>
