@page "/AddAd"
@using BoardCommon.Models
@using Microsoft.AspNetCore.Authorization
@using BoardCommon.Enums
@using Board.Infrastructure
@attribute [Authorize]
<h3>Добавить обьявление</h3>
<div class="container-fluid">
    <EditForm Model="@Ad" OnValidSubmit="@SendRequestAsync">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="my-2">
            <label for="title">Название</label>
            <InputText id="title" @bind-Value="@Ad.Title" class="form-control"></InputText>
        </div>
        <div class="my-2">
            <label for="description">Описание</label>
            <InputTextArea id="description" @bind-Value="@Ad.Description" class="form-control" rows="3"></InputTextArea>
        </div>
        <div class="my-2">
            <label for="price">Цена</label>
            <InputTextArea id="price" @bind-Value="@Price" class="form-control"></InputTextArea>
        </div>
        <div class="my-2">
            <InputSelect class="form-select" @bind-Value="@Ad.Category">
                @foreach (var category in Categories.Enumerated)
                {
                    <option value="@category">@category</option>
                }
            </InputSelect>
        </div>
        <div class="my-2">
            <label for="loadImages">Загрузить фото:</label>
            <InputFile multiple="true" class="form-control" accept="image/jpeg,image/png" id="loadImages" OnChange="ImagesChanged"></InputFile>
        </div>
        <p class="my-4">
            <button class="btn btn-primary" type="submit">Create</button>
        </p>
    </EditForm>
</div>

@code {
    public Ad Ad { get; set; } = new();
    public string ImagesLinks { get; set; }
    public IBrowserFile[] images { get; set; }

    private string Price
    {
        get => Ad.Price.ToString();
        set
        {
            if (int.TryParse(value, out var buffer))
                Ad.Price = buffer;
        }
    }

    [Inject]
    NavigationManager Manager { get; set; }

    [Inject]
    AuthenticationStateProvider State { get; set; }


    [Inject]
    AdsRepository adsRepository { get; set; }

    private async Task ImagesChanged(InputFileChangeEventArgs eventArgs) => images = eventArgs.GetMultipleFiles(100).ToArray();

    private async Task SendRequestAsync()
    {
        var state = await (State as CustomAuthStateProvider).GetAuthenticationStateAsync();
        Ad.Category ??= Categories.Enumerated.First();
        Ad.OwnerName = state.User.Identity.Name;
        Ad.ImagesLinks = ImagesLinks?.Split(new[] {'\n', '\r', ' ', '\t'}, StringSplitOptions.RemoveEmptyEntries);
        await adsRepository.Add(Ad, images);
        Manager.NavigateTo("/");
    }

}