@using Common
@using Board.Infrastructure
@using Common.Models


<div class="container" style="width: 18rem;">
    <a href="/AdPage/@Ad.Id" class="text-decoration-none">
        <div class="card" style="width: 18rem;">
            @{ var link = new Uri(new Uri(Constants.ApiPath), "img/get/" + Ad.ImagesIds[0]).ToString(); }
            <img src="@link" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Ad.Title</h5>
                <h5 class="card-title">Категория: @Ad.Category</h5>
                <p class="card-title">Цена: @Ad.Price</p>
                <p class="card-text">@Ad.Description[..Math.Min(Ad.Description.Length, 30)]</p>
            </div>
        </div>
    </a>
</div>

@code {

    [Parameter]
    public Ad Ad { get; set; }

}
